# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / Editor folders
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
